<!doctype html>
<html>
    <head>
        <style>
            span.navigationSpace {
            padding-left: 90px;
        }
        </style>

        <nav>
            <a href='/'>Home</a>
            <span class="navigationSpace"></span>
            <a href="/blog">Main Blog Page</a>
            <span class="navigationSpace"></span>
            <a href="/newpost">Add a Blog Entry</a>
            <span class="navigationSpace"></span>
            <span class="navigationSpace"></span>
            <span class="navigationSpace"></span>
            <span class="navigationSpace"></span>
            <span class="navigationSpace"></span>
            <span class="navigationSpace"></span>
            <a href='/login'>Log In</a>
            <span class="navigationSpace"></span>
            <a href='/logout'>Log Out</a>
        </nav>
        
        <title>{{title}}</title>

        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
         

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

{% block content %}
   
{% endblock %}

</body>
</html>