{% extends "base.html" %}

{% block content %}
<style>
    div.a { text-align: center;}
</style> 
<div class="a">
    <h1>Blogz</h1> 
</div>
<ul>
    {% for blog in blogs %}   
    <h2><a href="/post?id={{blog.id}}">{{ blog.title }}</a></h2>
    <p>{{ blog.body }}</p>
        {% for user in users %}
            {% if blog.owner_id == user.id %}
            written by
            <a href="/blog?user={{user.username}}">{{user.username}}</a> 
            {% endif %}  
        {% endfor %}
    {% endfor %}   
</ul>                     


{% endblock %}