{% extends "base.html" %}

{% block content %}
<style>
    div.a { text-align: center;}
</style> 
<div class="a">
    <h1>Build a Blog</h1>
</div>


<ul>
    {% for blog in blogs %}
        <li>{{blog.name}}
            <form method="POST" action="/blog" name="blog">
                <input type="hidden" name="blog-id" value="{{blog.id}}"/>
                <input type="submit" value="Done!"/>
            </form>
        </li>
        {% endfor %}
    </ul>
    

<hr />


<ul>
    {% for blog in blogs %}
        <li>{{blog.name}}</li>
    {% endfor %}
</ul>

{% endblock %}