{% extends "base.html" %}

{% block content %}

<style>
    div.a { text-align: center;}
    .error { color: red;}
</style> 

<div class="a"> 
    <h1>Add a Blog</h1>
</div>

<form name="newpost" method="POST">
    <label>
        Title for your blog:
        <input name="title" style="width: 210px;" type="text"/>
        
    </label><br><br>
 
    <label>
        Your new blog:
        <textarea name="body" type="textarea"></textarea>
       
    </label>

<br><br><br>        
<input type="submit" name="Add-Entry"/>

</form>     

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
   
{% endblock %}